---
import { Image } from "astro:assets";
import Mockup from "../images/mockup-new.png";
import iOSAppStore from "../images/appstore.png";
import GooglePlay from "../images/googleplay.png";
import Both from "../images/both.png";
---

<div
  class="w-full p-6 flex flex-col lg:flex-row items-center pt-18 lg:pt-48 lg:h-[500px] lg:mb-24"
>
  <div class="flex flex-col items-center lg:block">
    <h1
      class="font-poppins font-bold text-white text-4xl md:text-5xl md:w-[500px] !leading-tight text-center sm:text-left my-0"
    >
      The smarter flashcard app.
    </h1>
    <p
      class="text-white font-poppins mt-8 text-center sm:text-left px-4 sm:px-0 sm:text-xl"
    >
      Track your studying. Get help from AI.<br />
      <div
        class="sm:mt-0 text-white text-center sm:text-left font-poppins sm:text-xl"
      >
        Learn <span class="font-bold">3x faster</span> than with normal flashcards.
      </div>
      <div class="mt-8 flex flex-col items-center sm:hidden gap-6">
        <Image
          src={iOSAppStore}
          alt="Download on the Apple App Store"
          class="w-3/5"
        />
        <Image src={GooglePlay} alt="Get it on Google Play" class="w-3/5" />
      </div>
      <div
        class="mt-8 hidden sm:flex flex-row gap-3 justify-center lg:justify-start"
      >
        <a
          class="w-1/3"
          href="https://apps.apple.com/us/app/flashcardly/id6472301460"
          target="_blank"
        >
          <Image
            src={iOSAppStore}
            alt="Download on the Apple App Store"
            class="w-full"
          />
        </a>
        <Image src={GooglePlay} alt="Get it on Google Play" class="w-1/3" />
      </div>
    </p>
  </div>
  <Image
    src={Mockup}
    alt="mock up"
    height="550"
    class="mt-12 sm:mt-8 relative z-2"
  />
</div>

<style>
  .fadein {
    opacity: 0;
    animation: fade-in 2s ease-in forwards;
    animation-delay: 0.25s;
  }
  .fadein2 {
    opacity: 0;
    animation: fade-in 2s ease-in forwards;
    animation-delay: 0.5s;
  }

  .fadein3 {
    opacity: 0;
    animation: fade-in 2s ease-in forwards;
    animation-delay: 1s;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
